@media (min-width: 700px) {
  .orqafon {
    width: 100%;
  }
  .navbar {
    font-size: 14px;
  }
  .hero {
    padding: 0 20px;
  }
  .uli{
    color: #8B8E99;
    display: flex;
    list-style: none;
    align-items:center;
    gap:27px
}

  .divl h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    padding-bottom: 15px;
  }
  .smartw {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 75px 0;
    flex-direction: row;
  }
  .cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1105px;
    height: 100vh;
    color:black;
    margin: 0 auto;
    border-radius:2px solid blue;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 150px;
}

}

@media (min-width: 950px) {
  .orqafon {
    width: 100%;
    background:black;
  }
  .navbar {
    width: 1100px;
    font-size: 16px;
  }
  .input-btn{
    width: 350px;
    height: 70px;
    background:white;
    padding: 55px auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    border-radius: 15px;
}
.btn-p{
    width: 112px;
    height: 45px;
    padding: 15px 6px;
    background:#3858D6;
    border: 1px solid #3858D6;
    color: white;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}
.btn-p:hover{
    width: 120px;
    height: 50px;
    background:white;
    color: #3858D6;
    text-align: center;
    font-size: 15px;
}

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 0 130px;
  }
  .divl h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    padding-bottom: 15px;
  }
  .smartw {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 75px 0;
    flex-direction: row;
  }
  .cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1105px;
    height: 450px;
    color:black;
    margin: 0 auto;
    border-radius:2px solid blue;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
}

